<div class="tiles">
  <mat-card class="desCard">
    <!-- <img class="desImage" src="https://i.ibb.co/nbq2JT0/dotd.png" alt="dotd" /> -->
    <img class="desImage" src="https://i.ibb.co/qBZX811/hrt.png" alt="hrt" />
    <mat-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </mat-card-content>
  </mat-card>
</div>

<div class="subTitle"><h2>Tv Saga</h2></div>
<div class="tiles">
  <mat-card class="show-card" (click)="gotoShows()">
    <mat-card-title class="show-card-title">TV Series</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/xHRLj26/tv-shows.jpg"
      alt="tv-shows"
    />
    <mat-card-content
      >Here are all the Tv Shows I have watched
    </mat-card-content>
  </mat-card>

  <mat-card class="show-card" (click)="gotoMovies()">
    <mat-card-title class="show-card-title">Movies</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/y0j3K6L/movies.jpg"
      alt="movies"
    />
    <mat-card-content>All the movies I watched </mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Web Series</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/6tgqBJS/web-series.jpg"
      alt="web-series"
    />
    <mat-card-content>All the web serieses I watched </mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Mscllenious</mat-card-title>
    <img class="main-image" src="https://i.ibb.co/NnVx6K8/tv.jpg" alt="tv" />
    <mat-card-content>All the everythging else I watched </mat-card-content>
  </mat-card>
</div>

<div class="subTitle"><h2>Places I travelled</h2></div>

<div class="tiles">
  <mat-card class="show-card">
    <mat-card-title class="show-card-title">North India</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/qkTBz75/north.jpg"
      alt="north"
    />
    <mat-card-content
      >All the places in north india i travelled
    </mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">South India</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/f280mZj/South-India.jpg"
      alt="South-India"
    />
    <mat-card-content
      >All the places in South india i travelled</mat-card-content
    >
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Europe</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/GT7bBV5/europe.jpg"
      alt="europe"
    />
    <mat-card-content>All the Places in Europe I travelled</mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Others</mat-card-title>
    <img
      class="main-image"
      src="https://i.ibb.co/QNjp8z0/rest.jpg"
      alt="rest"
    />
    <mat-card-content>Everything else I travelled</mat-card-content>
  </mat-card>
</div>

<div class="subTitle"><h2>My Hunger and thirst</h2></div>

<div class="tiles">
  <mat-card class="show-card">
    <mat-card-title class="show-card-title">North India</mat-card-title>
    <mat-card-content
      >All the places in north india i travelled
    </mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">South India</mat-card-title>
    <mat-card-content
      >All the places in South india i travelled</mat-card-content
    >
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Web Series</mat-card-title>
    <mat-card-content>All the web serieses I watched </mat-card-content>
  </mat-card>

  <mat-card class="show-card">
    <mat-card-title class="show-card-title">Mscllenious</mat-card-title>
    <mat-card-content>All the everythging else I watched </mat-card-content>
  </mat-card>
</div>
